@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="card">
<p class="card col-md-18"><a class="text-xxl-center" href="@Url.Action("Index", "School")">Перейти до курсів</a></p>
</div>
