@using SchoolManager.Models.ViewModels.CourseVM
@model CreateCourseVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create course";
}

<div class="card col-md-12">
    <h1>Створення курсу</h1>
    <form asp-controller="Course" asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="Course.Name" class="control-label"></label>
            <input asp-for="Course.Name" class="form-control" />
            <span asp-validation-for="Course.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Додати курс</button>
        </div>
    </form>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}