@using SchoolManager.Models.ViewModels.CourseVM
@model EditCourseVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit course";
}

<div class="card col-md-14">
    <h1>Курс</h1>
    <p>Назва - @Model.RecordCourse.Name</p>
</div>

<div class="card col-md-12">
    <h1>Оновити</h1>

    <form asp-controller="Course" asp-action="EditPut" asp-route-id="@Model.RecordCourse.Id" method="post">
        <div class="form-group">
            <label asp-for="@Model.NewCourse.Name"></label>
            <input asp-for="@Model.NewCourse.Name" class="form-control" />
            <span asp-validation-for="NewCourse.Name" class="text-danger"></span>
        </div>

        <button type="submit">Оновити</button>
    </form>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}