@using SchoolManager.Models.ViewModels.SchoolVM
@model SchoolEditCourseVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Edit course";
}

<div class="card col-md-14">
    <h1>Курс</h1>
    <p>Назва - @Model.RecordCourse.Name</p>
</div>

<div class="card col-md-12">
    <h1>Оновити</h1>

    <form asp-controller="Course" asp-action="Edit" asp-route-id="@Model.RecordCourse.Id" method="post">
        <input type="hidden" asp-for="RecordCourse.Id" />
        <label for="name">Нове ім'я</label>
        <input id="name" asp-for="RecordCourse.Name" />

        <button type="submit">Оновити</button>
        <input type="hidden" name="_method" value="PUT" /> <!-- Додаємо приховане поле з методом PUT -->
        @Html.AntiForgeryToken() <!-- Вставляємо токен для валідації форми -->
    </form>


</div>
